
@{
	ViewData["Title"] = "Haberler";
}

<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
						<li><a href="@Routes.Media.Index" </a></li>
						<li class="active"></li>
					</ul>
					<h1 class="position-absolute top-100 left-0 text-color-light font-weight-bold text-6 line-height-3 text-end mt-5-5">
						<span class="d-block position-relative z-index-1 pb-5 ps-lg-3 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">Medya</span>
						<span class="custom-svg-position-1 custom-svg-position-1-variation">
							<svg class="svg-fill-color-dark mt-1 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 859.45 88.44" xml:space="preserve" preserveAspectRatio="none">
							<polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79 " />
				                        </svg>
						</span>
					</h1>
				</div>
			</div>
		</div>
	</section>

	
	@* <div class="body">
	

		<div role="main" class="main">

			

			<div class="container py-4">

				<div class="row">
					<div class="col">
						<div class="blog-posts">

							<div class="row">

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="@Routes.Media.Detail1">
                                               <img src="~/assets/newfolder/haber1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail1">Reis Makinadan Yapay Zeka Adımı</a></h2>
											

										</div>
									</article>
								</div>

								

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="@Routes.Media.Detail2">
                                                <img src="~/assets/newfolder/haber2.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail2">Unlimited Ways</a></h2>
											
										</div>
									</article>
								</div>

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="@Routes.Media.Detail3">
                                                <img src="~/assets/newfolder/haber3.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail3">Developer Life</a></h2>
											
											

										</div>
									</article>
								</div>

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="@Routes.Media.Detail4">
                                                <img src="~/assets/newfolder/haber4.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail4">The Blue Sky</a></h2>
											
											
										</div>
									</article>
								</div>

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="@Routes.Media.Detail5">
                                                <img src="~/assets/newfolder/haber5.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail5">Night Life</a></h2>
											

										

										</div>
									</article>
								</div>

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="@Routes.Media.Detail6">
                                                <img src="~/assets/newfolder/haber6.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail6">Another World Perspective</a></h2>
											
										

										</div>
									</article>
								</div>

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="">
												<img src="img/blog/medium/blog-8.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="blog-post.html">The Creative Team</a></h2>
										


										</div>
									</article>
								</div>

								<div class="col-md-4">
									<article class="post post-medium border-0 pb-0 mb-5">
										<div class="post-image">
											<a href="blog-post.html">
												<img src="img/blog/medium/blog-9.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
											</a>
										</div>

										<div class="post-content">

											<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="blog-post.html">Alone on the Forest</a></h2>
										

										

										</div>
									</article>
								</div> 

							</div>

							<div class="row">
								<div class="col">
									<ul class="pagination float-end">
										<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>

		</div>

		
	</div>
	<div class="position-relative pb-5 d-sm-none d-xl-block">
		<div class="position-absolute transform3dy-n50 left-0">
			<div class="appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1500" data-appear-animation-duration="1500ms">
				<div class="custom-square-1 bg-primary mt-0 mb-5"></div>
			</div>
		</div>
	</div> *@

</div>
}




<style>
	#par, #title {
		display: -webkit-box;
		-webkit-line-clamp: 3; /* kaç satır görünsün */
		-webkit-box-orient: vertical;
		overflow: hidden;
		min-height: 4.5em; /* Her zaman 2 satır yüksekliğinde olsun (1.5em x 2 satır gibi) */
		line-height: 1.5em;
	}

	body, p, h1, h2, h3, h4, h5, h6, li, span, div {
		text-align: left !important;
	}

</style>

<div role="main" class="main">

	


	<div class="container py-4">

		<div class="row">
			<div class="col">
				<div class="blog-posts">

					<div class="row">

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail1">
                                        <img src="~/assets/newfolder/haber1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail1">Hırdavat sektörü dünya genelinde 1 trilyon dolarlık hacme sahip</a></h2>
									<p id="par">
										Reis Makina Genel Müdürü Sayın Başar Demircan'ın, hırdavat sektörünün global vizyonunu ve Reis Makina'nın gelecek hedeflerini açıkladığı önemli röportajı Yeni Şafak Gazetesi'nde yer buldu.

										Sayın Demircan, 1 trilyon dolarlık dünya hırdavat pazarında Türkiye'nin payını 25 milyar dolardan 100 milyar dolara çıkarma potansiyeline dikkat çekerken, 2024'ü %13 büyümeyle tamamladığımızı ve 2025 için %20'lik iddialı bir büyüme hedeflediğimizi belirtti.
									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i> <a href="#">Yeni Şafak</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail1" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail2">
                                        <img src="~/assets/newfolder/haber2.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
										<a href="@Routes.Media.Detail2">
											Hırdavat Sektöründe İstihdam Seferberliği. Reis Makina’dan Güçlü Adım!

										</a>
									</h2>
									<p id="par">
										Reis Makina Genel Müdürü Başar Demircan, Posta Gazetesi’ne verdiği röportajda, sektörün kalifiye eleman ihtiyacını karşılamak amacıyla üniversiteler, teknik liseler ve İŞKUR ile yürütülen iş birliklerine değindi.
										İstihdam odaklı bu çalışmaların yanı sıra, Yalova’da 60 milyon dolarlık yatırımla kurulacak yeni üretim tesisiyle birlikte, yıllık 1.200 adet olan jeneratör üretim kapasitesinin 8.000 adede çıkarılması hedefleniyor. Demircan, 2030 yılı için belirlenen ciro hedefinin ise 300 milyon dolar olduğunu ifade etti.
									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i>  <a href="#">Posta</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail2" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail3">
                                        <img src="~/assets/newfolder/haber3.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
										<a href="@Routes.Media.Detail3">
											Reis Makina, Yapay Zekâ Entegrasyonu ile Operasyonel Verimliliği Artırıyor!’

										</a>
									</h2>
									<p id="par">
										Reis Makina Genel Müdürü Başar Demircan, Haber7.com'a verdiği özel röportajda sektörün dünyadaki büyüklüğüne dikkat çekerek, "Hırdavat sektörü dünya genelinde 1 trilyon dolarlık hacme sahip. Türkiye ise bu pazardan 25 milyar dolarlık bir pay alıyor. Mevcut kapasitemizi artırarak bu rakamı 100 milyar dolara çıkarmamız mümkün. Yerli üretime ve teknolojiye yaptığımız yatırımlarla, sektörde önemli bir oyuncu olmaya devam edeceğiz" dedi.

										Son yıllarda dijitalleşme çalışmalarına hız veren Reis Makina, yapay zekâ uygulamaları sayesinde verimliliği yüzde 20, kazancını ise yüzde 15 artırmayı hedefliyor. Teknokentler ve üniversitelerle iş birliği yaparak AR-GE çalışmalarını daha da ileri taşımayı planlayan Reis Makina, sürdürülebilirlik ve teknolojik altyapısıyla uluslararası rekabette öne çıkmayı amaçlıyor.

										Reis Makina, yapay zekâyı ile operasyonlarını daha da verimli hale getiriyor - Ekonomi Haberleri EKONOMİ
									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i> <a href="#">Haber7.com</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail3" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail4">
                                        <img src="~/assets/newfolder/haber4.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
										<a href="@Routes.Media.Detail4">
											”Anadolu kültürünü teknolojiyle birleştirmeyi istiyoruz”

										</a>
									</h2>
									<p id="par">
										Reis Makina Genel Müdürü Başar Demircan, Dünya Gazetesine verdiği röportajda sürdürülebilirliği merkeze alarak çalışmalarını sürdürdüklerini ve Anadolu kültürünü teknolojiyle birleştirerek sektöre kurumsal ve sürdürülebilir bir yönetim anlayışı kazandırmayı amaçladıklarını belirtti.


									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i>  <a href="#">Dünya Gazetesi</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail4" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail5">
                                        <img src="~/assets/newfolder/haber5.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="@Routes.Media.Detail5">Topçu Holding, savunma ve uzay sanayisindeki varlığını güçlendirmek amacıyla Samsun'da faaliyet gösteren masaüstü CNC üreticisi Revo'yu bünyesine dahil etti. </a></h2>
									<p id="par">
										Türkiye'nin en büyük hırdavat tedarikçilerinden olan, CNC ve üniversal tezgahların yanı sıra şerit testere üretimi de yapan Topçu Holding, savunma ve uzay sanayisindeki varlığını güçlendirmek amacıyla Samsun'da faaliyet gösteren masaüstü CNC üreticisi Revo'yu bünyesine dahil etti. Masaüstü CNC pazarında da güçlenmeyi amaçladıklarını ve bu amaçla Revo'yu grup markaları arasına dahil ettiklerini söyleyen Topçu Holding Genel Müdürü Başar Demircan, "Masaüstü CNC tezgahlarda üretilen özel parçalar, savunma ve havacılık sanayisi gibi ince işçilik gerektiren sektörlerde kullanılıyor. Bu nedenle masaüstü CNC makinelerine olan talep artıyor" değerlendirmesini yaptı. Ozco markası ile metal işleme makineleri sektörüne yeni bir soluk getirdiklerini söyleyen Başar Demircan, "Geldiğimiz noktada hem torna hem de CNC ürün gruplarında piyasanın önemli markaları arasına girdik. Çinlilerle ürettiğimiz bazı makineleri numune olarak piyasaya verdik ve çok iyi sonuçlar aldık. Gelen talepler sonrası 100'e yakın CNC makine ithal etme kararı aldık" dedi. Faaliyetlerinin ithalat ile sınırlı kalmayacağı bilgisini paylaşan Başar Demircan, yakın zamanda üretime de başlayacaklarını dile getirdi ve şöyle devam etti: "Çinlilerden edindiğimiz büyük CNC makineleri tecrübesini Revo'daki kazanımlarla birleştireceğiz ve büyük CNC makinelerinin üretimini Türkiye'de gerçekleştireceğiz. Masaüstü CNC'leri Revo, büyük CNC'leri ise Ozco markası ile üreteceğiz." Üretici bir kimliğe doğru yol aldıklarını söyleyen Demircan, holding cirosunun yüzde 50'sini imalat ve ihracattan elde etmek istediklerinin altını çizdi.


									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i>  <a href="#">Ekonomi Dergisi</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail5" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail6">
                                        <img src="~/assets/newfolder/haber6.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
										<a href="@Routes.Media.Detail6">
											Reis Makina Genel Müdürü Başar Demircan, Ekonomi Dergisi'ne yaptığı açıklamada yeni yatırımlarla üretim kapasitesinin 30.000 m²'den 100.000 m²'ye çıkarılacağını duyurdu!

										</a>
									</h2>
									<p id="par">
										Reis Makina Genel Müdürü Başar Demircan, Ekonomi Dergisi'ne yaptığı açıklamada yeni yatırımlarla üretim kapasitesinin 30.000 m²'den 100.000 m²'ye çıkarılacağını duyurdu!

										Geçtiğimiz yıl satışlarını döviz bazında yüzde 13 artırdıklarını söyleyen Topçu Holding Genel Müdürü Başar Demircan, “2025 yılını döviz bazında minimum yüzde 15 büyüme ile kapatmayı hedefliyoruz” dedi.

										Reis Makina'yı da bünyesinde barındıran Topçu Holding, imalat sanayisinde faaliyet gösteren birçok sektöre makine ve ekipman tedarik ediyor.

										TÜRKIYE’nin İstanbul, Konya ve Samsun’da; 30 bin metrekareyi aşan üretim tesislerinde onlarca sektörün ihtiyacını gideren birbirinden farklı yüzlerce makineyi piyasaya arz eden Reis Makina, Yalova’da da

										önemli bir yatırımı devreye almaya hazırlanıyor. Mevcutta 30 bin metrekare olan üretim tesislerinin Yalova yatırımının aktif olması ile 100 bin metrekareyi bulacağını dile getiren Topçu Holding Genel Müdürü Başar Demircan,

										“2030 yılına kadar proje çalışmaları devam edecek olan Yalova tesimiz faaliyete girdiğinde, sadece üretim alanımız büyümeyecek, istihdamımız da yüzde 50 artacak” dedi.


									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i>  <a href="#">Ekonomi Gazetesi</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail6" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail">
                                       <img src="~/assets/newfolder/haber1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
										<a href="@Routes.Media.Detail">
											Genel Müdürümüz Başar Demircan, Ekonomist dergisine verdiği röportajda Reis Makina’nın iç pazarda ve globaldeki büyüme hedeflerine ulaşmak için yatırımlarına hız kesmeden devam edeceğini belirtti.

										</a>
									</h2>
									<p id="par">

										Genel Müdürümüz Başar Demircan, Ekonomist dergisine verdiği röportajda Reis Makina’nın iç pazarda ve globaldeki büyüme hedeflerine ulaşmak için yatırımlarına hız kesmeden devam edeceğini belirtti.

										İç pazarda ve globalde büyüme hedeflerimize ulaşmak için yatırımlarımıza devam ediyoruz!

										Topçu Holding iştiraki olan şirket, 2024’ü 65 milyon dolar ciro ile tamamladı. Toplam cirosunun yüzde 60’ını distribütörlüğünü yaptığı uluslararası firmalardan, yüzde 40’ını ise kendilerine ait markalardan elde eden şirket, yeni dönemde üretim yatırımlarını arttırmaya hazırlanıyor. Hırdavat sektörünün globalde 1 trilyon dolarlık potansiyeli olduğunu söyleyen Reis Makina Genel Müdürü Başar Demircan, Türkiye’nin bu pazardan 25 milyar dolar pay aldığı söylüyor. Yeni dönemde hem iç pazarda hem uluslararası pazarlarda büyümek için Yalova’da toplam 55 bin metrekare kapalı alanda tesis ya

									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i>  <a href="#">Ekonomist Dergisi</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail">
                                        <img src="~/assets/newfolder/haber2.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
										<a href="@Routes.Media.Detail">
											Topçu Holding bünyesinde faaliyetlerini gerçekleştiren Ozco Metal İşleme Makineleri, yeni yatırımlarıyla yurt içi ve yurt dışında aldıkları pay doğrultusunda kapasitelerini yüzde 100 artırdı.

										</a>

									</h2>
									<p id="par">
										Topçu Holding bünyesinde faaliyetlerini gerçekleştiren Ozco Metal İşleme Makineleri, yeni yatırımlarıyla yurt içi ve yurt dışında aldıkları pay doğrultusunda kapasitelerini yüzde 100 artırdı.

										Teknik insan kaynağı konusunun Türkiye’de çözülemeyen köklü bir problem olduğunu ve bunun iş hayatının her aşamasında hissedildiğini dile getiren Topçu Holding Genel Müdürü Başar Demircan, sorunu çözmek için Milli Eğitim Bakanlığı ile protokol imzaladıklarını söyledi. Proje ile holding bünyesindeki Reis Makina’nın önemli görevler üstleneceğini belirten Başar Demircan, “CNC operatörü ve hırdavat sanayisinde eksik olan; üretim, pazarlama-satış, servis ve teknik elemanların yetiştirilmesinde aktif görev almak istedik. Bu kapsamda bayilerimizi de sürece dahil ederek Milli Eğitim Bakanlığı himayesinde, meslek kursları, zanaat okulları ve halk eğitim merkezleri gibi kurumlar ile ortak çalışma yürütmek üzere bir proje hazırladık. Projeye göre; bu okullarda okuyan gençlerimiz dönemsel olarak bayilerimizde görev alarak hem iş öğrenecek hem de para kazanacak. Devlet ise bu çalışmayı belgelendirecek ve projeye dahil olanlara MEB onaylı sertifika verecek” dedi.


									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i>  <a href="#">Ekotürk Tv</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post post-medium border-0 pb-0 mb-5">
								<div class="post-image">
									<a href="@Routes.Media.Detail">
                                        <img src="~/assets/newfolder/haber3.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 id="title" class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
										<a href="@Routes.Media.Detail">
											Kızıldeniz gerginliği imalatta fiyatları artırmaya başladı
										</a>
									</h2>
									<p id="par">
										İmalat, hammadde teslimatının süresi uzadığı için Kızıldeniz’deki krizin kıskacına girdi. Yeni rota seyahat süresini iki hafta uzattı ve navlun fiyatlarında neredeyse 4 katı artış görülmeye başlandı.

									</p>

									<div class="post-meta">
										<span><i style="color:blue" class="far fa-Mediapaper"></i>  <a href="#">CNBC-e Tv</a> </span>

										<span class="d-block mt-2"><a href="@Routes.Media.Detail" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
									</div>

								</div>
							</article>
						</div>

					</div>

					<div class="row">
						<div class="col">
							<ul class="pagination float-end">
								<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>

</div>

