@{
    ViewData["Title"] = "Anasayfa";
}

<div role="main" class="main">
    <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-style-diamond nav-with-transparency nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'autoplay': false, 'autoplayTimeout': 7000}"
         data-dynamic-height="['700px','700px','600px','500px','410px']"
         style="height: 700px;">

        <div class="owl-stage-outer">
            <div class="owl-stage">

                <!-- Carousel Slide 1 -->
                <div class="owl-item position-relative">
                    <div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0"
                         data-appear-animation="kenBurnsToRight"
                         data-appear-animation-duration="30s"
                         data-plugin-options="{'minWindowWidth': 0}"
                         data-carousel-onchange-show
                         style="background-image: url('@Url.Content("~/assets/NewFolder/resim1.jpg")'); background-size: cover; background-position: center;">
                    </div>
                    <div class="container position-relative z-index-1 h-100">
                        <div class="row align-items-center h-100">
                            <div class="col-lg-9 col-xl-8 position-relative mx-auto mt-5 pt-5">
                                <!-- İstersen buraya slider içeriği ekleyebilirsin -->
                            </div>
                        </div>

                        <p class="position-absolute bottom-15 right-0 text-color-light font-weight-bold text-5-5 line-height-3 text-end pb-0 pb-lg-5 mb-0 d-none d-sm-block">
                            <span class="custom-svg-position-1">
                                <svg class="svg-fill-color-primary mt-1 appear-animation"
                                     data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1200"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 859.45 88.44" preserveAspectRatio="none">
                                </svg>
                            </span>
                        </p>
                    </div>
                </div>

                <!-- Carousel Slide 2 (yorumlu) -->

                <div class="owl-item position-relative" style="background-image: url('@Url.Content("~/assets/NewFolder/resim2.jpg")'); background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-1 h-100">
                        <div class="row align-items-center h-100 pt-5">
                            <div class="col-xl-8 position-relative ms-auto mt-5 pt-5">
                                <h2 class="position-relative text-color-light font-weight-bold custom-big-text-style-1 custom-big-text-style-1-variation text-center text-lg-end pt-4 mt-5 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1000">
                                    <span class="d-block position-absolute bottom-100 left-0 transform3dy-p50 w-100 pt-5 ps-5">
                                        <span class="d-inline-flex custom-outline-text-style-1 text-2 text-center appear-animation" data-appear-animation="fadeInRightShortePlus" data-appear-animation-delay="2000">

                                        </span>
                                    </span>

                                </h2>
                            </div>
                        </div>
                        <p class="position-absolute bottom-15 right-0 text-color-light font-weight-bold text-5-5 line-height-3 text-end pb-0 pb-lg-5 mb-0 d-none d-sm-block">

                            <span class="custom-svg-position-1">
                                <svg class="svg-fill-color-dark appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 859.45 88.44" xml:space="preserve" preserveAspectRatio="none">
                                <polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79 " />
           </svg>
                            </span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="owl-nav mt-5">
            <button type="button" role="presentation" class="owl-prev" aria-label="Previous"></button>
            <button type="button" role="presentation" class="owl-next" aria-label="Next"></button>
        </div>
    </div>


</div>


<div class="container py-5 my-3">
    <div class="row justify-content-between align-items-center flex-lg-nowrap gy-3">
        <div class="col-lg-4">
            <h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-3-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Biz Kimiz</h2>
            <p class="text-4 font-weight-light mb-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100">
                Topçu Holding; sanayi, teknoloji ve hizmet sektörlerinde faaliyet gösteren, güvenilir, yenilikçi ve sürdürülebilir değer üretmeyi amaçlayan bir şirkettir.
            </p>
        </div>
        <div class="col-auto d-none d-lg-block">
            <svg width="145" height="147" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 145.42 147.12" xml:space="preserve" stroke-miter-limit="10" stroke-dasharray="7" data-appear-animation-svg="true">
            <line stroke="#a2a2a2" stroke-dasharray="8" x1="14.75" y1="132.9" x2="133.81" y2="12.05" class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400" data-appear-animation-duration="10ms" />
            <line stroke="#FFF" stroke-dasharray="8" stroke-width="2" x1="14.75" y1="132.9" x2="133.81" y2="12.05" class="appear-animation" data-appear-animation="customLineDividerAnim" data-appear-animation-delay="400" data-appear-animation-duration="2.2s" />
                </svg>
        </div>
        <div class="col-lg-6">
            <p class="font-weight-medium text-3-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">
                Geleceğe yön veren yatırımlarımızla ülkemize ve insanımıza katkı sağlamak için çalışıyoruz.

                <span class="highlight highlight-primary highlight-bg-opacity highlight-animated" data-appear-animation="highlight-animated-start" data-appear-animation-delay="400" data-plugin-options="{'flagClassOnly': true}"></span>
            </p>
            <a href="@Routes.Corporate.About" class="custom-view-more d-inline-flex font-weight-medium text-color-primary text-decoration-none appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">
                Daha Fazla
                <img width="27" height="27" src="~/assets/img/demos/construction/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" />
            </a>
        </div>
    </div>
</div>

<section class="section position-relative overflow-hidden border-0 m-0 py-5">
    <div class="container pt-0 pb-0">
        <div class="row mb-0">
            <div class="col">
                <h2 class="section-title">Grup Şirketleri</h2>
            </div>
        </div>

        <div class="companies-grid">
            <!-- REİS MAKİNA -->
            <div style="cursor:pointer;" class="company-card">
                <img class="company-logo" src="~/assets/newfolder/rm-187.png" alt="Reis Makina Logo" />
                <h3 class="company-name">
                    REİS MAKİNA<br>Ticaret ve Sanayi A.Ş.
                </h3>
                <a href="@Routes.GroupCompanies.ReisMakina" class="btn btn-primary">
                    Daha Fazla Bilgi

                </a>
            </div>

            <!-- TOPÇULAR Endüstriyel -->
            <div style="cursor:pointer;" class="company-card">
                <img class="company-logo" src="~/assets/newfolder/te-187.png" alt="Topçular Endüstriyel Logo" />
                <h3 class="company-name">
                    TOPÇULAR Endüstriyel<br>Üretim ve Yatırım A.Ş.
                </h3>
                <a href="@Routes.GroupCompanies.TopcularEndustriyel" class="btn btn-primary ">
                    Daha Fazla Bilgi

                </a>
            </div>

            <!-- REVO -->
            <div style="cursor:pointer;" class="company-card">
                <img class="company-logo" src="~/assets/newfolder/revo-187.png" alt="Revo Logo" />
                <h3 class="company-name">
                    REVO<br>Endüstri Makine Teknolojileri A.Ş.
                </h3>
                <a href="@Routes.GroupCompanies.RevoEndustriyel" class="btn btn-primary">
                    Daha Fazla Bilgi

                </a>
            </div>

            <!-- MAR Teknolojik -->
            <div style="cursor:pointer;" class="company-card">
                <img class="company-logo" src="~/assets/newfolder/mar-187.png" alt="MAR Teknolojik Logo" />
                <h3 class="company-name">
                    MAR Teknolojik<br>Hizmetler ve Yatırım A.Ş.
                </h3>
                <a href="@Routes.GroupCompanies.Mar" class="btn btn-primary">
                    Daha Fazla Bilgi

                </a>
            </div>
        </div>
    </div>

    <!-- Decorative elements -->
    <div class="position-absolute" style="top: 50%; right: 5%; transform: translateY(-50%);">
    </div>
    <div class="position-absolute" style="top: 60%; right: 8%; transform: translateY(-50%);">
    </div>
</section>
<div class="container my-5 p-4 shadow rounded bg-light">
    <div class="row gy-5 align-items-center">
        <div class="col-lg-6 text-center">
            <img src="~/assets/NewFolder/resim4.png"
                 class="img-fluid w-100"
                 style="max-height:600px; object-fit:cover;"
                 alt="Topçu Holding Cover" />
        </div>
        <div class="col-lg-6">
            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-quotes-dark custom-testimonial-quote-position-1 mb-0">
                @*  <p class="alternative-font-4 font-weight-medium text-start text-4 px-2 mb-0"
                       data-plugin-animated-letters
                       data-plugin-options="{'startDelay': 500, 'minWindowWidth': 0, 'animationName': '', 'animationSpeed': 15}">
                        Güven, kalite ve yenilik vizyonuyla büyüyen Topçu Holding; sanayi, teknoloji, inşaat ve hizmet sektörlerinde Türkiye’nin geleceğine değer katmaya devam ediyor. Bünyesindeki güçlü markalarla sürdürülebilir başarıyı hedefleyerek ülkemizin kalkınmasına katkıda bulunuyor, güvenilir iş ortağınız olmaktan gurur duyuyoruz.
                    </p> *@
                <p style="text-align:justify;" class="text-4 font-weight-light mb-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100">
                    Güven, kalite ve yenilik vizyonuyla büyüyen Topçu Holding; sanayi, teknoloji, inşaat ve hizmet sektörlerinde Türkiye’nin geleceğine değer katmaya devam ediyor. Bünyesindeki güçlü markalarla sürdürülebilir başarıyı hedefleyerek ülkemizin kalkınmasına katkıda bulunuyor, güvenilir iş ortağınız olmaktan gurur duyuyoruz.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col px-0">
            <hr class="my-0">
        </div>
    </div>
</div>

<section class="looking-for section-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <div class="looking-for-box">
                    <h2>
                        <span class="text-1 custom-secondary-font">Profesyonel geleceğiniz için doğru yerdesiniz</span><br>
                        Topçu Holding'de Kariyer Fırsatları Sizi Bekliyor
                    </h2>
                    <p>Gelin, başarının bir parçası olun.</p>

                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-md-end mb-4 mb-md-0">
                <a class="text-decoration-none" href="tel:+90 850 222 73 47" target="_blank" title="">
                    <span class="custom-call-to-action white-border text-color-light">
                        <span class="action-title">Telefon</span>
                        <span class="action-info">+90 850 222 73 47</span>
                    </span>
                </a>
            </div>
            <div class="col-md-3 col-lg-2">
                <a class="text-decoration-none" href="mail:info@topcuholding.com" target="_blank" title="">
                    <span class="custom-call-to-action white-border text-color-light">
                        <span class="action-title">E-Posta</span>
                        <span class="action-info">info@topcuholding.com</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section-secondary custom-section-padding-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="font-weight-bold text-color-dark mb-3">Bizden Haberler</h2>
            </div>
        </div>
    </div>
    <div class="owl-carousel show-nav-title custom-both-sides-shadow custom-dots-position-2 custom-dots-style-1 custom-xs-arrows-style-2 mb-0" data-plugin-options="{'items': 6, 'loop': false, 'dots': true, 'nav': false}">
        <div id="MediaFromUs">
            <a href="@Routes.Media.Detail1" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                      <img src="~/assets/newfolder/virax_ziyaret.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            @* <span class="custom-thumb-info-name font-weight-semibold  text-4">
									Knipex’ten Yeni Ürünler Hakkında Kapsamlı Eğitim
								</span> *@
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Knipex’ten Yeni Ürünler Hakkında Kapsamlı Eğitim
                            </span>
                        </span>
                        @* <span class="custom-arrow"></span> *@
                    </span>
                </span>
            </a>
        </div>
        <div>
            <a href="@Routes.Media.Detail1" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/reisshop.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            @* 								<span class="custom-thumb-info-name font-weight-semibold  text-4">Hotel-Tech Antalya Fuarı’nı Başarıyla Tamamladık!</span>
 *@								<span class="text-multiline-ellipsis custom-thumb-info-desc font-weight-light">Hotel-Tech Antalya Fuarı’nı Başarıyla Tamamladık!</span>
                        </span>
                        @* <span class="custom-arrow"></span> *@
                    </span>
                </span>
            </a>
        </div>
        <div>
            <a href="@Routes.Media.Detail2" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                       <img src="~/assets/newfolder/proxxon.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            @* <span class="custom-thumb-info-name font-weight-semibold  text-4">
								</span> *@
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Hotel-Tech Antalya’da Sektöre Özel Yenilikçi Ürünlerimizle Buluşmaya Davetlisiniz!
                            </span>
                        </span>
                        @* <span class="custom-arrow"></span> *@
                    </span>
                </span>
            </a>
        </div>
        <div>
            <a href="@Routes.Media.Detail3" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/lavor.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            @* 								<span class="custom-thumb-info-name font-weight-semibold text-color-dark text-4">Tech Consulting</span>
 *@								<span class="text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Reis Shop bayilerimize merkezimizde uygulamalı eğitim verildi. Aynı zamanda ürünlerin tanıtımı ve saha uygulaması da gösterildi.
                            </span>

                        </span>
                        @* <span class="custom-arrow"></span> *@
                    </span>
                </span>
            </a>
            <style>
                .text-multiline-ellipsis {
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* kaç satır görünsün */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    min-height: 4.5em; /* Her zaman 2 satır yüksekliğinde olsun (1.5em x 2 satır gibi) */
                    line-height: 1.5em;
                }

            </style>
        </div>
        <div>
            <a href="@Routes.Media.Detail4" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/topcuholding_etkinlik.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            @* 								<span class="custom-thumb-info-name font-weight-semibold text-color-dark text-4">Strategic</span>
 *@								<span class="text-multiline-ellipsis custom-thumb-info-desc font-weight-light">Knipex'ten Uygulamalı Eğitim</span>
                        </span>
                        @* <span class="custom-arrow"></span> *@
                    </span>
                </span>
            </a>
        </div>
        <div>
            <a href="@Routes.Media.Detail5" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/hoteltech-1.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            @* 								<span class="custom-thumb-info-name font-weight-semibold text-color-dark text-4">Litigation</span>
 *@								<span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Türkiye’nin Tek Sivil Havacılık ve Havalimanları Fuarı İstanbul Airshow’dayız!
                            </span>
                        </span>
                        @* <span class="custom-arrow"></span> *@
                    </span>
                </span>
            </a>
        </div>
        <div>
            <a href="@Routes.Media.Detail6" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/topcuholding_etkinlik.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            @* 								<span class="custom-thumb-info-name font-weight-semibold text-color-dark text-4">Consulting</span>
 *@								<span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Proxxon Uzmanlarından Merkezimizde Kapsamlı Eğitim!
                            </span>
                        </span>
                        @* <span class="custom-arrow"></span> *@
                    </span>
                </span>
            </a>
        </div>
        <div>
            <a href="@Routes.Media.Detail" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/virax_ziyaret.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Lavor Uygulamalı Eğitim
                            </span>
                        </span>

                    </span>
                </span>
            </a>
        </div>
        <div>
              <a href="@Routes.Media.Detail" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/knipex_egitimi.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Rainpump Eğitimi

                            </span>
                        </span>
                    </span>
                </span>
            </a> 
        </div>
        <div>
              <a href="@Routes.Media.Detail" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/hoteltech-1.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Sancaktepe Kaymakamı Sn.Ahmet Karakaya ve İlçe Milli Eğitim Müdürü Sn.Hale Bağce Özbaş Bizleri Ziyaret Etti

                            </span>
                        </span>
                    </span>
                </span>
            </a> 
        </div>
        <div>
              <a href="@Routes.Media.Detail" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/airshow_haber.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Virax firmasının İhracat Bölge Yöneticileri Mr. Guillaume Prigent ve Mr. Maurizio Fava şirketimizi ziyaret ettiler

                            </span>
                        </span>
                    </span>
                </span>
            </a> 
        </div>
        <div>
             <a href="@Routes.Media.Detail" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/hoteltech-haber2.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Topçu Holding 105.yılında personelleriyle bir araya geldi

                            </span>
                        </span>
                    </span>
                </span>
            </a> 
        </div>
        <div>
              <a href="@Routes.Media.Detail" class="text-decoration-none">
                <span class="thumb-info custom-thumb-info-style-1 thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-0">
                        <img src="~/assets/newfolder/kaymakam_ziyaret.jpg" class="img-fluid" alt="">
                    </span>
                    <span class="thumb-info-caption bg-color-secondary p-4 pt-5 pb-5">
                        <span class="custom-thumb-info-title">
                            <span class=" text-multiline-ellipsis custom-thumb-info-desc font-weight-light">
                                Topçu Holding olarak en önemli yatırımımız insan

                            </span>
                        </span>
                    </span>

                </span>
            </a> 
        </div>
    </div>

</section>






